.card{
    border-radius: 25%;
    -webkit-box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.75);
}